{% extends "base.html" %}
{% block title %}Página Principal{% endblock %}
{% block content %}
<h3 class="mt-4">Pokémons:</h3>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4">
        <br>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top pokemon-card-img" src="{{ pokemon.picture.url }}" alt="Card image cap">
        <div class="card-body">
    <h5 class="card-title">{{ pokemon | capfirst }}</h5>
    <p class="card-text">Defensa: {{ pokemon.defense }}</p>
    <a href="{% url 'pokemon' id=pokemon.id %}" class="btn btn-primary"><i class="fa-regular fa-eye"></i></a>
  </div>
</div>
    </div>
    {% endfor %}
</div> 

<h3 class="mt-4">Entrenadores:</h3>
<ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
        <a href="{% url 'trainer' id=trainer.id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}
